# copyleft 2015 teodorescu.serban@gmail.com

################################################
# IN/OUT SERVICES (if you are a dev, comment varnish)
################################################
varnish:
  extends:
    file: common.yml
    service: varnish

web:
  extends:
    file: common.yml
    service: web

email:
  extends:
    file: common.yml
    service: email

################################################
# CKAN
################################################
dataproxy:
  extends:
    file: common.yml
    service: dataproxy

solr:
  extends:
    file: common.yml
    service: solr

dbckan:
  extends:
    file: common.yml
    service: dbckan

ckan:
  extends:
    file: common.yml
    service: ckan

################################################
# GIS PREVIEW
################################################
gisapi:
  extends:
    file: common.yml
    service: gisapi

gisredis:
  extends:
    file: common.yml
    service: gisredis

gislayer:
  extends:
    file: common.yml
    service: gislayer

gisworker:
  extends:
    file: common.yml
    service: gisworker

gisdb:
  extends:
    file: common.yml
    service: gisdb

################################################
# CPS
################################################
dbcps:
  extends:
    file: common.yml
    service: dbcps

cps:
  extends:
    file: common.yml
    service: cps

################################################
# BLOG
################################################
dbblog:
  extends:
    file: common.yml
    service: dbblog

blog:
  extends:
    file: common.yml
    service: blog

################################################
# UTILITIES
################################################
util:
  extends:
    file: common.yml
    service: util
jenkins:
  extends:
    file: common.yml
    service: jenkins
