# copyleft 2015 teodorescu.serban@gmail.com


version: "2"

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: 10.98.15.0/24
  proxy:
    external:
      name: nginx-proxy

services:
  ################################################
  # IN/OUT SERVICES
  ################################################

  web:
    extends:
      file: ./_common.yml
      service: web

  email:
    extends:
      file: ./_common.yml
      service: email

  ################################################
  # MPX
  ################################################

  mpx:
    extends:
      file: ./_common.yml
      service: mpx

  hxlproxy:
    extends:
      file: ./_common.yml
      service: hxlproxy

  ################################################
  # CKAN
  ################################################
  dataproxy:
    extends:
      file: ./_common.yml
      service: dataproxy

  solr:
    extends:
      file: ./_common.yml
      service: solr

  dbckan:
    extends:
      file: ./_common.yml
      service: dbckan

  ckan:
    extends:
      file: ./_common.yml
      service: ckan

  ################################################
  # GIS PREVIEW
  ################################################
  gisapi:
    extends:
      file: ./_common.yml
      service: gisapi

  gisredis:
    extends:
      file: ./_common.yml
      service: gisredis

  gislayer:
    extends:
      file: ./_common.yml
      service: gislayer

  gisworker:
    extends:
      file: ./_common.yml
      service: gisworker

  gisdb:
    extends:
      file: ./_common.yml
      service: gisdb

  ################################################
  # CPS
  ################################################
  dbcps:
    extends:
      file: ./_cps.yml
      service: dbcps

  cps:
    extends:
      file: ./_cps.yml
      service: cps

  cps-web:
    extends:
      file: ./_cps.yml
      service: cps-web

  ################################################
  # BLOG
  ################################################
  dbblog:
    extends:
      file: ./_blog.yml
      service: dbblog

  blog:
    extends:
      file: ./_blog.yml
      service: blog

  blog-web:
    extends:
      file: ./_blog.yml
      service: blog-web

################################################
# UTILITIES
################################################
#  util:
#    extends:
#      file: ./_common.yml
#      service: util
#  jenkins:
#    extends:
#      file: ./_common.yml
#      service: jenkins
